/* in styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  max-height: 100vh;
}

* {
  box-sizing: border-box;
}

html.light > body {
  @apply bg-white text-zinc-700;
}
html.dark > body {
  @apply bg-zinc-900 text-white;
}

::selection {
  @apply bg-neutral-400/30;
}

.dark ::selection {
  @apply bg-neutral-500/30;
}

a {
  color: inherit; 
  text-decoration: none;
}

li > ol,
li > ul {
  margin-left: 16px;
}
